html,
body {
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
}
.background-img {
  background-image: url("../images/bodybackground.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: center;
  height: 100vh;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1920px;
  max-width: 100%;
  padding: 100px 50px;
}

.header-h1 {
  color: #600703;
  font-size: 26px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  width: 350px;
  text-align: center;
}

.logo {
  height: 70px;
}

.underline {
  text-decoration: underline;
}
